html {
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}
.menu-box-bottom {
    max-width: 500px;
    margin: 0 auto;
}

.header {
    max-width: 500px;
    margin: 0 auto;
}

#footer-bar {
    max-width: 500px;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .select2-dropdown {
      margin-left: 470px;
  }
}
#editor {
  border-style: dashed;
  border:1px solid #d9d9d9;
}

.select2-container .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
      border-radius: 8px;
      height: 50px; }
    .select2-container .select2-selection--single:focus {
      outline: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 50px;
      padding-left: 12px;
      color: #495057; }
      .select2-container .select2-selection--single .select2-selection__arrow {
        height: 50px;
        width: 34px;
    border: 1px solid #ced4da;
    border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      top: 0; }
        

      